.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup,
.alert {
  background-color: rgba(231, 251, 158, 0.889);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 30%;
  height: 50px;
  text-align: center;
  margin-top: 0;
}

.alert {
  background-color: rgba(251, 79, 26, 0.877);
}

.popup h5,
.alert h5 {
  margin-top: 0;
  font-size: 10px;
}

.popup h5 {
  color: rgb(6, 4, 4);
}

.alert h5 {
  color: rgb(255, 255, 255);
}

.btn {
  border: none;
  background: #03061569;
  color: white;
  height: auto;
  width: auto;
  font-size: 10px;
  margin-top: -25px;
}
@media only screen and (max-width: 768px) {
  .popup {
      width: 35%;
      height: 50px;
  }
}
