.skill_container {
  /* margin: 30px 20px; Adjust margin for smaller screens */
  display: flex;
  flex-wrap: wrap; /* Ensure cards wrap on smaller screens */
  justify-content: center; /* Center align cards */
  padding: 20px; /* Adjust padding for smaller screens */
}

.skill_card_even,
.skill_card_odd {
  margin-top: 10px;
  box-shadow: 5px 5px 5px 1px #acbac2;
  flex-grow: 1; /* Allow cards to grow to fill space */
  max-width: 400px;
  padding: 20px;
  margin-top: 20px;
  margin-right:30px ; /* Adjust margin-top for smaller screens */
}

.skill_card_odd {
  border-top: 2px solid #f58738;
  border-bottom: 2px solid #f58738;
}

.skill_card_even {
  border-top: 2px solid #8cb8d3;
  border-bottom: 2px solid #8cb8d3;
}

.lable {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; 
  line-height: 1.8;
  margin-left: 35%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .skill_container {
    margin: 20px; /* Adjust margin for smaller screens */
  }

  .skill_card_even,
  .skill_card_odd {
    width: calc(50% - 20px); /* Make cards take up 50% of the width with some margin */
    margin: 20px 20px; /* Add margin between cards */
  }
  .lable{
    margin-left: 20%;
    text-align: center;
    font-size: 12px;
  }
}
